{% extends 'base.html' %}

{% block title %}Tastes| Food Recipe App| Find Any recipe{% endblock %}

{% block content %}

    <section class="hero">
            
        <div class="header">
            <h2 class="heading">Find Any Recipe</h2>
            <h2 class="subheading">"The belly rules the mind."</h2>
        </div>
        <img class="preview" src="../static/assets/preview.svg" alt="preview image">
        <a class="get" href="https://github.com/">get source code</a>       
    
    </section>
    
{% endblock %}
