{% extends 'base.html' %}

{% block title %}Tastes| test{% endblock %}

{% block content %}
    <section class="recipe">
        <div class="title">
        <img src="https://images.pexels.com/photos/11832019/pexels-photo-11832019.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="dish image">
        <h1>hello</h1>
        </div>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsa, maiores nobis ullam voluptates officiis magni sapiente laboriosam sequi asperiores rerum nam, repudiandae est adipisci repellendus unde. Error, esse molestiae?
        </p>

    </section>
{% endblock %}